/* font-family: 'Charmonman', cursive;
font-family: 'Indie Flower', cursive; */

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 3; 
} 

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 3;
    background-color: #808080;
}


